@model YuneNadiOo.Test

@{
    ViewBag.Title = "Details";
}

<h2>Details of Color Blindness Test Information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual_Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual_Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Qid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
